<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket IO</title>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
  </head>
  <body>
    <script>
      const socket = io("http://localhost:8000/home/");

      socket.on("hello", (a) => {
        console.log(a);
      });
    </script>
      <h1> { { a } } <h1>

  </body>
</html>
